* {
  margin: 0;
  padding: 0;
}

nav {
  align-items: center;
  background-color:  black;
  display: flex;
  height: 75px;
  justify-content: space-between;
  
  a {
    font-size: 24px;
    text-decoration: none;
    color: #ABABAB;

    &:hover {
      cursor: pointer;
      color: #1B3C6C;
    }

    a:active {
      color: #1B3C6C;
    }
  }

  button {
    background-color: #ABABAB;
    border-radius: 5px;
    color: #1B3C6C;
    font-size: 20px;
    height: 40px;
    margin-right: 20px;
    width: 125px;
    
    &:hover {
      cursor: pointer;
    }
  }
}

.inner {
  background: black;
  border-radius: 10px;
  clip-path: circle(7% at 10% 30%);
  cursor: pointer;
  margin-top: 10px;
  margin-top: 50px;
  padding: 1em;
  transition: all .5s ease-in-out;
  width: 500px;

  &:hover {
    background: #ABABAB;
    clip-path: circle(75%);
  }

  h1 {
    color: white;
    margin: 0;
  }

  p {
    color: #1B3C6C;
    font-size: 1.15rem;
    margin-left: 25%;
  }

  span {
    float: left;
    color: #ABABAB;
    float: left;
    font-weight: bold;
    height: 10px;
    margin-left: 29px;
    margin-top: 5px;
    position: relative;
    transition: color .5s;
    width: 10px;
  }

  &:hover span {
    color: #1B3C6C;
  }
}

nav-link {

}