* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;

  input {
    border-radius: 5px;
    font-size: 20px;
  }

  ::placeholder {
    color: #141d4F;
  }

  select {
    height: 6%;
    margin: 10px;
    width: 20%;
  }

  div {
    min-height: 40px;
    p {
      display: inline;
    }
  }

  button {
    margin-top: 10px;
    &:hover {
      outline: 3px solid black;
    }
  }

  .error {
    align-self: center;
    background-color: #1b3c6c;
    border-radius: 5px;
    color: red;
    font-size: 25px;
  }
}