@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Merriweather', monospace;
  margin: 0;
  padding: 0;
}

.App {
  background-attachment: fixed;
  background: url('../Images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 120vh;
}